h1
{
	font-size: $rem * 45;
	line-height: $rem * 60;
	font-weight: $font-main-weight--semi-bold;
	margin-bottom: $rem * 50;
	@media (max-width: $media-tablet)
	{
		font-size: $rem * 22;
		line-height: $rem * 26;
		margin-bottom: $rem * 25;
	}
	span
	{
		font-weight: $font-main-weight--bold;
		color: $clr-main;
	}
}
h2
{
	font-size: $rem * 27;
	line-height: $rem * 36;
	font-weight: $font-main-weight--bold;
	margin-bottom: $rem * 15;
	@media (max-width: $media-tablet)
	{
		font-size: $rem * 20;
		line-height: $rem * 26;
		margin-bottom: $rem * 15;
	}
	span
	{
		font-weight: $font-main-weight--bold;
		color: $clr-main;
	}
}
p
{
	font-size: $rem * 18;
	line-height: $rem * 26;
	@media (max-width: $media-tablet)
	{
		font-size: $rem * 16;
		line-height: $rem * 24;
	}
}
