footer.footer
	.container
		img.footer__logo(src="img/logo--white.svg", alt="")
		nav.footer__nav
			ul.footer__navList
				li.footer__navListItem
					a.footer__navListItemLink(href="#") Privacy Policy
				li.footer__navListItem
					a.footer__navListItemLink(href="#") Contact us
				li.footer__navListItem
					a.footer__navListItemLink(href="#") Unsubscribe
				li.footer__navListItem
					a.footer__navListItemLink(href="#") Do not sell my personal information
		.footer__copyright © 2020 Partner. #[br] All Rights Reserved.
