.blockPartner
	.container
		img.blockPartner__logo(src="img/pict-logo-partner.png", alt="")
		.blockPartner__main
			h2.blockPartner__mainTitle #[span Lifetime] Warranty
			p.blockPartner__mainText With our lifetime, transferable warranty, you’ll enjoy the peace of mind that Partner™ will last as long as you own your home.
