.blockQuestions
	.container
		.blockQuestions__item
			.blockQuestions__itemMain
				h2.blockQuestions__itemMainTitle Does Partner™ Stop Ice Dams From Forming?
				p.blockQuestions__itemMainText Partner™ offers protection against ice dams in 4 different ways: No clogged gutters in winter, angled so snow slides off and doesn’t freeze, snow melt drains and guards are made from steel to stop “buckling”.
			.blockQuestions__itemPicture
				img.blockQuestions__itemPictureImg(src="img/pict-questions-1.png", alt="")
		.blockQuestions__item
			.blockQuestions__itemMain
				h2.blockQuestions__itemMainTitle Can Partner™ Handle Heavy Rains?
				p.blockQuestions__itemMainText Yes, absolutely. Our gutter guards are installed across America – including in areas with torrential downpours and hurricanes!
			.blockQuestions__itemPicture
				img.blockQuestions__itemPictureImg(src="img/pict-questions-2.png", alt="")
		.blockQuestions__item
			.blockQuestions__itemMain
				h2.blockQuestions__itemMainTitle What If Leaves & Debris Simply Pile Up On Top Of Partner?
				p.blockQuestions__itemMainText Partner️™ is installed at an ideal angle so debris slides right off, never builds up on top of the filter guards and stops water from overshooting the gutter.
			.blockQuestions__itemPicture
				img.blockQuestions__itemPictureImg(src="img/pict-questions-3.png", alt="")
