.blockInfo
	.container
		h2.blockInfo__title How We Keep Low Prices
		p.blockInfo__text We are the only installer of Partner™ in the United States, providing homeowners with one single point of contact for sales and service. By not relying on an independent dealer network, we are able to maintain a high level of quality control and service. And, since there is no middle man, we pass the savings on to you!
		ul.blockInfo__list
			li.blockInfo__listItem
				img.blockInfo__listItemImg(src="img/pict-info-1.png", alt="")
				p.blockInfo__listItemText Free Gutter #[br]Evaluation
			li.blockInfo__listItem
				img.blockInfo__listItemImg(src="img/pict-info-2.png", alt="")
				p.blockInfo__listItemText Same Day Install #[br]Available
			li.blockInfo__listItem
				img.blockInfo__listItemImg(src="img/pict-info-3.png", alt="")
				p.blockInfo__listItemText Manufactured #[br]In The USA
			li.blockInfo__listItem
				img.blockInfo__listItemImg(src="img/pict-info-4.png", alt="")
				p.blockInfo__listItemText Service & Support #[br]Included
