.blockBenifits
	.container
		h1.blockBenifits__title How over #[span 410,000 americans] increased their property value #[span in under 6 hours*] with this simple upgrade.
		ul.blockBenifits__list
			li.blockBenifits__listItem
				svg.blockBenifits__listItemIcon
					use(href="img/sprite.svg#i-benifits-1")
				.blockBenifits__listItemText Lifetime warranty with 100% no-clog guarantee
			li.blockBenifits__listItem
				svg.blockBenifits__listItemIcon
					use(href="img/sprite.svg#i-benifits-2")
				.blockBenifits__listItemText Fits every home
			li.blockBenifits__listItem
				svg.blockBenifits__listItemIcon
					use(href="img/sprite.svg#i-benifits-3")
				.blockBenifits__listItemText Installs over existing gutters saving you thousands
			li.blockBenifits__listItem
				svg.blockBenifits__listItemIcon
					use(href="img/sprite.svg#i-benifits-4")
				.blockBenifits__listItemText Customer rating
