doctype html

html

	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title Лендинг
		link(rel="stylesheet", href="css/bundle.min.css")

	body
		include views/template/header
		include views/blocks/blockBenifits
		include views/blocks/blockQuestions
		include views/blocks/blockInfo
		include views/blocks/blockPartner
		include views/blocks/blockNote
		include views/template/footer

		script(src="js/bundle.min.js")
